* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', 'sans-serif';
}

body {
    width: 100%;
    min-height: 100vh;
    cursor: url('./img/cursor_64.png'), auto;
    overflow: hidden;
}

input, label {
    cursor: url('./img/cursor_64.png'), auto;
}

::-webkit-scrollbar {
    width: 15px;
    background: #df7206;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #cf5c36;
    border-radius: calc(15px / 2);
}





.boton-saltar {
    position: fixed;
    top: 50%;
    left: 75%;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    opacity: .4;
    user-select: none;
}


.texto__partida {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(80%);
    animation: mover-texto 2s ease infinite;
    animation-play-state: paused;

}

.texto__partida:hover {
    animation-play-state: running;
}

@keyframes mover-texto {
    0% {
        transform: translate(-50%, -50%) scale(.8) rotate(-8deg);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) scale(.8) rotate(-8deg);
    }
}

canvas {
    /* display: flex; */

    background-image: url('./img/fondo.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    width: 100%;
    object-fit: cover;
    object-position: bottom center;

}