

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    cursor: url('./img/cursor_64.png'), default;
    /* overflow: hidden; */
}

.container 
{
    width: 100%;
    height: 100vh;
    display: flex;
}


.boton-saltar {
    position : fixed;
	top : 50%;
	left : 75%;
	background-color: white;  
	padding : 1rem;
	border-radius : 50%;
	opacity : .4;
    user-select: none;
}

canvas {
    /* display: flex; */
    
    background-image: url('./img/fondo.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    /* width: 100%;
    object-fit: cover;
    object-position: bottom center; */
    
}